:root {
	--bg: rgb(255, 255, 245);
	--box-bg: rgb(240, 240, 240);
	--text: #5a5a5a;
	--text-sm: 0.85rem;
	--nav-height: 50px;
	--box-radius: 8px;
	--btn-radius: 4px;
	--btn-bg: rgba(26, 115, 232);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.loader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loader-circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 5px solid rgba(0, 0, 0, 0.1);
	border-top-color: #3498db;
	animation: spin 1s ease-in-out infinite;
}

.loader-text {
	margin-top: 4px;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

img {
	width: 100%;
}
html {
	background-color: var(--bg);
	color: var(--text);
}
button,
select {
	border-radius: var(--btn-radius);
	background-color: var(--bg);
	border: none;
	padding: 12px 0;
	font-weight: 500;
	background-color: var(--btn-bg);
	font-size: 0.8rem;
	cursor: pointer;
}
select {
	background-color: rgb(240, 240, 240);
}
button {
	color: white;
}

nav {
	width: 100%;
	background-color: var(--bg);
	height: var(--nav-height);
	font-size: var(--text-sm);
	position: fixed;
	top: 0;
	right: 0;
	border: 1px solid rgb(232, 232, 232);
	padding: 0 16px;
	display: flex;
}

nav ul {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	gap: 12px;
}
nav li {
	list-style: none;
	cursor: pointer;
}
nav li:hover {
	text-decoration: underline;
}
nav a {
	text-decoration: none;
	color: var(--text);
}
nav .home {
	cursor: default;
}
nav .home > a {
	cursor: pointer;
	text-decoration: none;
	color: var(--text);
}
nav .shopping-cart {
	display: flex;
	align-items: center;
	gap: 1px;
}
.shopping-cart a {
	display: flex;
	align-items: center;
}
.shopping-cart b {
	width: 20px;
	height: 20px;
	background-color: red;
	color: white;
	border-radius: 50%;
	display: flex;
	align-self: center;
	justify-content: center;
	font-size: 0.65rem;
	padding-top: 2px;
	padding-right: 1px;
	margin-bottom: 1px;
}
nav span {
	cursor: pointer;
}
.aside {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	bottom: 0;
	width: 50%;
	color: white;
	padding: 12px;
	padding-top: 16px;
}
.aside ul {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.aside li {
	list-style-type: none;
	font-size: 0.9rem;
}
.aside button {
	width: 100%;
	margin-top: 4px;
}
main {
	margin-top: calc(var(--nav-height));
}
.shops-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, auto));
	place-content: center;
	place-items: center;
	row-gap: 32px;
	background-color: var(--bg);
	padding: 24px 0;
}
.shops-list article {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 600px;
	margin: auto;
}
.shops-list figure {
	background-color: var(--box-bg);
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, auto));
	place-content: center;
	place-items: center;
	border-radius: var(--box-radius);
	border: 1px solid rgb(232, 232, 232);

	padding: 20px 0;
}
.shops-list img {
	max-width: 100px;
}
.shops-list figcaption {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: left;
}
article.payment-resumen {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-content: center;
	padding: 32px;
	box-shadow: -1px 1px 12px 1px rgba(0, 0, 0, 0.1);
	border-radius: var(--box-radius);
	gap: 16px;
}

.payment-resumen div {
	border-radius: var(--box-radius);
	padding: 8px 16px;
	border: 1px solid rgb(232, 232, 232);
	color: rgb(105, 126, 128);
}
.payment-resumen h3 {
	margin: 8px 0;
	margin-top: 0;
	grid-column: 1/-1;
	color: rgb(0, 0, 0);
}
.payment-resumen div:nth-child(4) {
	grid-column: 1/-1;
	text-align: center;
}
.payment-resumen select {
	padding: 12px;
	border: 1px solid rgb(232, 232, 232);
	color: rgb(105, 126, 128);
}
.payment-resumen button {
	width: 100%;
	max-width: 200px;
	margin: auto;
	grid-column: 1/-1;
}
.hidden {
	display: none;
}
@media screen and (min-width: 600px) {
	.burger-menu {
		display: none;
	}
	nav .home {
		flex-grow: 0;
	}
	nav ul {
		width: 50%;
		max-width: 400px;
		justify-content: space-around;
	}
	nav .hidden {
		display: block;
	}
	header h2 {
		font-size: 3rem;
	}
}
@media screen and (min-width: 1000px) {
	.shops-list article:nth-child(2) {
		position: fixed;
		max-width: 550px;
		right: 10vh;
		top: 25vh;
	}
}
